{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block title %}Tarefas pendentes{% endblock %}

    {% block content %}
            <div class="h-100 p-5 pt-3 bg-light border rounded-3 ">
              <h2>Adicionar Tarefa</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}

                        <div style="margin-top: 10px;"> <!-- Ajuste o valor conforme necessário -->
                            <input class="btn btn-success" type="submit" value="Adicionar">
                        </div> 
                </form>
                <hr>


                <h2>Tarefas Pendentes:</h2>
                <div class="list-group">
                {% for tarefa in tarefas_pendentes %}
                        {% if tarefa.categoria == 'urgente' %}
                            <button type="button" class="list-group-item list-group-item-danger list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal{{ tarefa.id }}">
                        {% else %}
                        {% if tarefa.categoria == 'importante' %}
                            <button type="button" class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal{{ tarefa.id }}">
                        {% else %}
                            <button type="button" class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal{{ tarefa.id }}">
                        {% endif %}
                        {% endif %}
                        <h5>{{ tarefa.descricao }}</h5>
                        <small>Criado em: {{ tarefa.criacao.day }}/{{ tarefa.criacao.month }}/{{ tarefa.criacao.year }}</small>
                        <small> |  Prazo: {{ tarefa.prazo.day }}/{{ tarefa.prazo.month }}/{{ tarefa.prazo.year }} </small>
                        <small> | Faltam: {% if tarefa.dia_restante %} {{ tarefa.dia_restante }} dia(s) {% else %} Prazo não definido {% endif %}</small>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ tarefa.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ tarefa.descricao }} | {{ tarefa.categoria|capfirst }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <a class="btn btn-success" href="{% url 'concluir_tarefa' tarefa.id %}">Concluir</a>
                                    <a class="btn btn-warning" href="{% url 'adiar_tarefa' tarefa.id %}">Adiar</a>
                                    <a class="btn btn-primary" href="{% url 'editar_tarefa' tarefa.id %}">Editar</a>
                                    <a class="btn btn-danger" href="{% url 'excluir_tarefa' tarefa.id %}">Excluir</a>
                                </p>
                            </div>
                            </div>
                        </div>
                        </div>
                {% endfor %}
                </div>
            </div>
    {% endblock %}